/**
 * @file
 * Node Teaser specific styles.
 */

@import "../base/media-queries.pcss.css";

.node--view-mode-teaser {
  & .node__meta {
    margin-block-end: var(--sp);

    & a {
      color: var(--color-text-primary-medium);
      font-weight: bold;
    }
  }

  & .field--tag-ref {
    margin-block-start: var(--sp1);
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    background-color: transparent;

    @media (--lg) {
      margin-block-start: var(--sp2);
    }
  }
}